* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-e9a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.e9a {
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 10px;
}

/* B */

.main-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-e9b {
    border: 1px solid black;
    width: 280px;
    height: 100px;
    padding: 10px;
}

.main-e9b .text-container1 {
    display: block;
    margin-top: 10px;
}

.main-e9b .button-container1 {
    display: block;
    margin-top: 4px;
}

.main-container1 .main-e9b .button-container1 button {
    width: 40px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 8px;
}

.main-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.main-container2 .main-e9c {
    border: 2px solid black;
    padding: 20px;
    width: 370px;
    background-color: rgb(76, 73, 84);
}

.main-container2 .main-e9c h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}

.main-container2 .main-e9c p {
    color: rgb(126, 126, 126);
}

.main-container3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.main-container3 .main-e9d {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  width: 450px;
  border-radius: 6px;
}

.imgcontainer3 {
    display: inline-block;
}

.main-container3 .main-e9d .imgcontainer3 img {
    width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  vertical-align: middle;
  margin-right: 5px;
  display: inline-block;
}

.main-container3 .main-e9d .text-container3 {
 font-size: 8px;
  border: none;
  width: 160px;
  vertical-align: middle;
  display: inline-block;
}


.main-e9d button {
    background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
  display: inline-block;
}

.text-container3 h1 {
    display: inline-block;
}