<%- include('partials/header.ejs') %>


<div class="jumbotron">
  <div class="text-one">
    <div class="words word-1">
      <span>E</span>
      <span>C</span>
      <span>H</span>
      <span>O</span>
      <span>I</span>
      <span>N</span>
      <span>G</span>
      <span>T</span>
      <span>H</span>
      <span>O</span>
      <span>U</span>
      <span>G</span>
      <span>T</span>
      <span>S</span>
    </div>
    
    <div class="words word-2">
      <span>W</span>
      <span>H</span>
      <span>E</span>
      <span>R</span>
      <span>E</span>
      <span>I</span>
      <span>N</span>
      <span>S</span>
      <span>P</span>
      <span>I</span>
      <span>R</span>
      <span>A</span>
      <span>T</span>
      <span>I</span>
      <span>O</span>
      <span>N</span>
    </div>
    
    <div class="words word-3">
      <span>R</span>
      <span>I</span>
      <span>P</span>
      <span>P</span>
      <span>L</span>
      <span>E</span>
      <span>S</span>
      <span>A</span>
      <span>N</span>
      <span>D</span>
      <span>R</span>
      <span>E</span>
      <span>S</span>
      <span>O</span>
      <span>N</span>
      <span>A</span>
      <span>T</span>
      <span>E</span>
      <span>E</span>
    </div>
  </div>
    <div class="p-5 text-center">
      <div class="container py-2">
        <h1 class=>Welcome to Echoing Thoughts,</h1>
        <p class="col-lg-8 mx-auto lead">
          " where words become echoes of inspiration, guiding you on a journey of self-reflection and empowerment. Dive into our collection of profound quotes, curated to uplift your spirit and illuminate your path towards personal growth and positivity."
        </p>
      </div>
    </div>
  </div>

  <div class="text-two">
    
  </div>

  

<%- include('partials/footer.ejs') %>
