* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    display: inline-flex;
    flex-direction: column;
    border: 10px solid gold;
    color: white;
}

.container div {
    flex-basis: 100px;
}


.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.indigo {
    background-color: indigo;
}

.purple {
    background-color: purple;
}