* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: lightyellow;
    padding: 10px;
    display: flex;
}

header {
    align-items: center;
}

header nav {
    margin-left: 8%;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 15px;
}
