/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

div {
width: 200px;
height: 200px;

}
p{
    margin: 0;

}

.div-1 {
    background-color: aqua;
    padding: 20px;
    border: 10px solid black;
}

.div-2 {
    background-color: gold;
    border: solid black;
    border-width: 20px 10px;
    margin-left: 260px;
}

.div-3 {
    background-color: rgb(5, 77, 77);
    border: 10px solid black;
    margin-left: 40px;
}